<%= title "Welcome" %>

<section>
  <h3>My Profile</h3>
  <div>

  </div>

</section>

<section>
  <h3>My Memes</h3>
  <div>

  </div>

</section>


<section>
  <h3>Favorite Memes</h3>
  <div>

  </div>

</section>
