<<<<<<< HEAD
<h1>All Memes</h1>
<ul>
<% @memes.each do |meme| %>
<li><%= meme.title %></li>
<% end %>
</ul>
=======
<%= title "Welcome" %>

<section>
  <h3>My Profile</h3>
  <div>

  </div>

</section>

<section>
  <h3>My Memes</h3>
  <div>

  </div>

</section>


<section>
  <h3>Favorite Memes</h3>
  <div>

  </div>

</section>
>>>>>>> 7f8f95251c2d34e8cbacb84428b491d1e7cedc01
