<h1> All Memes</h1>

<ul>
  <li> <% @memes.each do |meme| %></li>
  <strong> <%= meme.title %> </strong>
  <%= meme.created_at.strftime("Printed on %m/%d/%Y") %> <%=  meme.created_at.strftime("at %I:%M%p") %>
          <% end %>
</ul>
