<link rel="stylesheet" href="/css/master.css">
<section class="my_profile_section">
  <h3>My Profile</h3>
  <div class="container">
		<h1><%= @user.username %></h1>
		<p><%= @user.username %></p>
  </div>

</section>

<section class="my_meme_section">
  <h3>My Memes</h3>
  <div class="container">
		<% @user.memes.each do |meme| %>
		<div class="meme_post">
			<%= meme.title %>
			<%= meme.caption %>
		</div>
		<% end %>
  </div>
</section>


<section class="my_fav_section">
  <h3>Favorite Memes</h3>
  <div class="container">
		Hello
  </div>

</section>
