.wrapper {
	width: 100%;
	height: 100%;
	margin: 0, auto;
	text-align: center;

}


.loginform {
	border: 2px solid rgba(255,255,255,.2);
	border-radius: 6px;
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 30px;
	color: #f7f7f7;
	margin: 160px auto;
	width: 30%;
}
