// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/*** SECTIONS ***/
h3 {
	position: relative;
	top: 150px;
	right:10px


}


/*** USER PROFILE ***/

.profile_box {
	margin: auto;
	display: block;
	text-align: center;
}

.profile_img img {
	border-radius: 100%;
	width: 130px;
	padding-top: 10px;
}

.profile_info {
	padding-left: 20px;
	padding-right: 20px;

}

.profile_info h1 {
	font-size: 1.35em;
}

.profile_info p {
	font-size: .95em;
	font-weight: 100;
}

/*** END USER PROFILE ***/

.meme_post {
	height: 130px;
	padding: 10px;
	border-bottom: .5px solid rgba(28,89,113,.5);
}

.meme_post:last-of-type {
	border-bottom: .5px solid rgba(28,89,113,0);
}

.meme_post img {
	width: 200px;
	max-height: 100%;
	float: left;
	padding-right: 20px;
}

.meme_post p {
	position: relative;
	width: 200px;
	text-align: center;
	font-weight: 900;
	top: -30px;
	font-weight: bold;
}

.meme_post h2 {
	font-size: 1.1em;
}

.meme_post button {
	float:right;
	margin-top: -80px;

}

#meme_delete {
	margin-top: -60px;
}

.my_profile_section, .my_meme_section, .my_fav_section {
	float: left;
	margin: 1%;
	font-family: 'Roboto', sans-serif;
}

.my_profile_section {
	width: 24%;
}

.my_meme_section {
	width: 46%;
}

.my_fav_section {
	width: 24%;
}

.container {
	border-radius: 6px;
	padding: 10px;
	color: #f7f7f7;
}

.my_profile_section .container, .my_fav_section .container {
	border: 2px solid rgba(255,255,255,.2);
}

.my_meme_section .container {
	background-color: rgba(255,255,255,.2);
}
/*** END SECTIONS ***/
